.background {
  background: linear-gradient(
    130deg,
    #d8e7e5 4%,
    #f0f8f7 7%,
    #f0f8f7 60%,
    #ccd9d7,
    #f0f8f7
  );
}

.backgroundColor {
  background-color: yellowgreen;
}

.textColor {
  color: yellowgreen;
}
.iconColor {
  color: grey;
}
.cardBg {
  background-color: #edf3f2;
}
