.colorGreen {
  background-color: yellowgreen;
}
.colorOrange {
  background-color: orange;
}
.colorGray {
  background-color: rgb(232, 236, 236);
}
.iconColor {
  color: grey;
}
.textColorGreen {
  color: yellowgreen;
}
